{% extends 'shared/_layout.html' %}
{% block title %}
    قیمت ها | فارکس
{% endblock %}
{% block content %}
    <section class="forex-price-content">
        <section class="header-of-news-content">
            <h3>Forex Price</h3>
            <p>قیمت ها در بازار فارکس</p>
        </section>
        <section class="bg-white forex-null">
            <h6>Live Currency Cross Rates Widget</h6>
        </section>
        <section class="price-of-forex">
            <iframe
                    src="https://www.widgets.investing.com/live-currency-cross-rates?theme=lightTheme&pairs=1,3,2,4,5,8,6,9,11"
                    width="100%" height="100%" frameborder="0" allowtransparency="true" marginwidth="0"
                    marginheight="0">
            </iframe>
        </section>
        <section class="chart-of-forex">
            <iframe
                    id="chart-iframe"
                    height="355"
                    width="100%"
                    src="https://sslcharts.investing.com/index.php?force_lang=1&pair_ID=1&timescale=300&candles=50&style=candles">
            </iframe>
        </section>
    </section>
{% endblock %}