{% extends 'shared/_layout.html' %}
{% block title %}
    بورس اوراق بهادار تهران
{% endblock %}

{% block content %}
    <section class="se-pre-con"></section>
    <section class="brs-body">
        <section class="header-of-chart">
            <section class="brs-title">
                <h3>بورس اوراق بهادار تهران</h3>
            </section>
            <section>
                <section><h5>بازار نقدی بورس در یک نگاه</h5></section>
                <section class="table-of-header-brs">
                    <table class="table-one-brs">
                        <tr>
                            <th>شاخص کل</th>
                            <th>شاخص كل (هم وزن)</th>
                            <th>ارزش بازار</th>
                            <th>تعداد معاملات</th>
                            <th>ارزش معاملات</th>
                            <th>حجم معاملات</th>
                        </tr>
                        <tr>
                            <td id="brs-index">1,490,446.14 6911.79</td>
                            <td id="brs-index-h">1,490,446.14 6911.79</td>
                            <td id="brs-market-value">1,490,446.14 6911.79</td>
                            <td id="brs-trade-number">1,490,446.14 6911.79</td>
                            <td id="brs-trade-value">16,930.527 B</td>
                            <td id="brs-trade-volume">16,930.527 B</td>
                        </tr>
                    </table>
                    <table class="table-two-brs">
                        <tr>
                            <td>شاخص کل</td>
                            <td id="brs-index2">1,490,446.14 6911.79</td>
                        </tr>
                        <tr>
                            <td>شاخص كل (هم وزن)</td>
                            <td id="brs-index-h2">1,490,446.14 6911.79</td>
                        </tr>
                        <tr>
                            <td>ارزش بازار</td>
                            <td id="brs-market-value2">1,490,446.14 6911.79</td>
                        </tr>
                        <tr>
                            <td>تعداد معاملات</td>
                            <td id="brs-trade-number2">6911.79</td>
                        </tr>
                        <tr>
                            <td>ارزش معاملات</td>
                            <td id="brs-trade-value2">16,930.527 B</td>
                        </tr>
                        <tr>
                            <td>حجم معاملات</td>
                            <td id="brs-trade-volume2">16,930.527 B</td>
                        </tr>
                    </table>
                </section>
            </section>
        </section>
        <section class="body-of-chart">
      <section>
        <section><h5>نمادهای پر تراکنش</h5></section>
        <section class="body-table">
          <table>
            <tr>
              <th>نماد</th>
              <th>قیمت پایانی</th>
              <th>آخرین معامله</th>
              <th>کمترین</th>
              <th>پیشترین</th>
              <th>تعداد</th>
              <th>حجم</th>
              <th>ارزش</th>
            </tr>
            <tr>
                <td id="brs-name1">بورس ایران</td>
                <td class="brs-price-info">
                  <p id="brs-final-price1">11111</p>
                  <p id="brs-final-price-change1">0.254</p>
                </td>
                <td class="brs-price-info">
                  <p id="brs-close-price1">11111</p>
                  <p id="brs-close-price-change1">0.254</p>
                </td>
                <td id="brs-lowest-price1">6971.13</td>
                <td id="brs-highest-price1">0.47</td>
                <td id="brs-n1">1,490,559.25</td>
                <td id="brs-volume1">1,487,451.15</td>
                <td id="brs-value1">1,487,451.15</td>
            </tr>
            <tr>
                <td id="brs-name2">بورس ایران</td>
                <td class="brs-price-info">
                  <p id="brs-final-price2">11111</p>
                  <p id="brs-final-price-change2">0.254</p>
                </td>
                <td class="brs-price-info">
                  <p id="brs-close-price2">11111</p>
                  <p id="brs-close-price-change2">0.254</p>
                </td>
                <td id="brs-lowest-price2">6971.13</td>
                <td id="brs-highest-price2">0.47</td>
                <td id="brs-n2">1,490,559.25</td>
                <td id="brs-volume2">1,487,451.15</td>
                <td id="brs-value2">1,487,451.15</td>
            </tr>
            <tr>
                <td id="brs-name3">بورس ایران</td>
                <td class="brs-price-info">
                  <p id="brs-final-price3">11111</p>
                  <p id="brs-final-price-change3">0.254</p>
                </td>
                <td class="brs-price-info">
                  <p id="brs-close-price3">11111</p>
                  <p id="brs-close-price-change3">0.254</p>
                </td>
                <td id="brs-lowest-price3">6971.13</td>
                <td id="brs-highest-price3">0.47</td>
                <td id="brs-n3">1,490,559.25</td>
                <td id="brs-volume3">1,487,451.15</td>
                <td id="brs-value3">1,487,451.15</td>
            </tr>
            <tr>
                <td id="brs-name4">بورس ایران</td>
                <td class="brs-price-info">
                  <p id="brs-final-price4">11111</p>
                  <p id="brs-final-price-change4">0.254</p>
                </td>
                <td class="brs-price-info">
                  <p id="brs-close-price4">11111</p>
                  <p id="brs-close-price-change4">0.254</p>
                </td>
                <td id="brs-lowest-price4">6971.13</td>
                <td id="brs-highest-price4">0.47</td>
                <td id="brs-n4">1,490,559.25</td>
                <td id="brs-volume4">1,487,451.15</td>
                <td id="brs-value4">1,487,451.15</td>
            </tr>
            <tr>
                <td id="brs-name5">بورس ایران</td>
                <td class="brs-price-info">
                  <p id="brs-final-price5">11111</p>
                  <p id="brs-final-price-change5">0.254</p>
                </td>
                <td class="brs-price-info">
                  <p id="brs-close-price5">11111</p>
                  <p id="brs-close-price-change5">0.254</p>
                </td>
                <td id="brs-lowest-price5">6971.13</td>
                <td id="brs-highest-price5">0.47</td>
                <td id="brs-n5">1,490,559.25</td>
                <td id="brs-volume5">1,487,451.15</td>
                <td id="brs-value5">1,487,451.15</td>
            </tr>
            <tr>
                <td id="brs-name6">بورس ایران</td>
                <td class="brs-price-info">
                  <p id="brs-final-price6">11111</p>
                  <p id="brs-final-price-change6">0.254</p>
                </td>
                <td class="brs-price-info">
                  <p id="brs-close-price6">11111</p>
                  <p id="brs-close-price-change6">0.254</p>
                </td>
                <td id="brs-lowest-price6">6971.13</td>
                <td id="brs-highest-price6">0.47</td>
                <td id="brs-n6">1,490,559.25</td>
                <td id="brs-volume6">1,487,451.15</td>
                <td id="brs-value6">1,487,451.15</td>
            </tr>
            <tr>
                <td id="brs-name7">بورس ایران</td>
                <td class="brs-price-info">
                  <p id="brs-final-price7">11111</p>
                  <p id="brs-final-price-change7">0.254</p>
                </td>
                <td class="brs-price-info">
                  <p id="brs-close-price7">11111</p>
                  <p id="brs-close-price-change7">0.254</p>
                </td>
                <td id="brs-lowest-price7">6971.13</td>
                <td id="brs-highest-price7">0.47</td>
                <td id="brs-n7">1,490,559.25</td>
                <td id="brs-volume7">1,487,451.15</td>
                <td id="brs-value7">1,487,451.15</td>
            </tr>
          </table>
        </section>
      </section>
    </section>
    </section>
{% endblock %}

{% block footer_references %}
    <script src="../../../static/js/BourseWS.js"></script>
{% endblock %}