<footer>
    <section class="footer-container">
        <section class="top-footer d-flex">
            <section class="social-networks d-flex justify-content-between">
                <h3>!در شبکه های اجتماعی ما را دنبال کنید</h3>
                <section class="social-icons">
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-telegram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </section>
            </section>
            <section class="table-of-footer d-flex justify-content-around">
                <ul>
                    <li class="title">بیشتر بدانید</li>
                    <li><a href="#">نمونه</a></li>
                    <li><a href="#">نمونه</a></li>
                    <li><a href="#">نمونه</a></li>
                    <li><a href="#">نمونه</a></li>
                </ul>
                <ul>
                    <li class="title">درباره ما</li>
                    <li><a href="{% url 'contact_us_page' %}">تماس با ما</a></li>
                    <li><a href="#">نمونه</a></li>
                    <li><a href="#">نمونه</a></li>
                    <li><a href="#">نمونه</a></li>
                </ul>
            </section>
            <section class="right-footer">
                <img src="../../static/images/arka-bg-white.jpeg" alt="logo"/>
                <h2>آرکا</h2>
            </section>
        </section>
        <section class="ownership">
            <p>.تمام حقوق مادی و معنوی این سایت متعلق به <b>آرکا</b> است ©</p>
        </section>
    </section>
</footer>