{% extends 'shared/_layout.html' %}
{% block title %}
ارتباط با ما | آرکا
{% endblock %}
{% block content %}
    <section class="se-pre-con"></section>
    <section>
        <section class="contact-us">
            <section class="header-of-contact">
                <section>
                    <h1>تماس با <b>آرکا</b></h1>
                    <p>.در صورت داشتن هرگونه سوال یا ابهام در مورد آرکا، میتوانید از مسیرهای ارتباطی زیر با ما در تماس
                        باشید</p>
                </section>
            </section>

            <section class="main-body-contact">
                <section class="d-flex justify-content-around">
                    <section class="img-contact-customer-affairs">
                        <img src="../../../static/images/contact_customer_affairs.png" alt="Contact Customer Affairs">
                    </section>
                    <section class="text-contact-customer-affairs d-flex">
                        <section>
                            <h1>تماس با بخش امور مشتریان</h1>
                            <h4>راه اول</h4>
                        </section>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                            از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون
                            و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                        <span>
                            <section>
                                <h5>شنبه تا پنجشنبه 9 الی 14</h5>
                                <i class="fa fa-clock-o"></i>
                            </section>
                            <section>
                                <h5>021-555555</h5>
                                <i class="fa fa-phone"></i>
                            </section>
                        </span>
                    </section>
                </section>
                <section class="d-flex justify-content-around">
                    <section class="img-contact-customer-affairs">
                        <img src="../../../static/images/telegram-bg.png" alt="Telegram Background">
                    </section>
                    <section class="text-contact-customer-affairs d-flex">
                        <section>
                            <h1>کانال اطلاع رسانی</h1>
                            <h4>راه دوم</h4>
                        </section>
                        <p>.برای دریافت آخرین اطلاعیه‌ها و اخبار آرکا، کانال رسمی ما را در تلگرام دنبال کنید</p>
                        <a href="#">عضویت در کانال تلگرام</a>

                    </section>
                </section>
                <section class="d-flex justify-content-around">
                    <section class="img-contact-customer-affairs">
                        <img id="contact-customer-affairs" src="../../../static/images/customer-support.png" alt="Contact Customer Affairs">
                    </section>
                    <section class="text-contact-customer-affairs d-flex">
                        <section>
                            <h1>راهنمایی پشتیانی آنلاین</h1>
                            <h4>راه سوم</h4>
                        </section>
                        <p>در هر ساعت شبانه روز از طریق سیستم چت آنلاین (کادر زرد رنگ در پایین صفحات ) با کارشناسان پشتیبانی آرکا می‌توانید در ارتباط باشید و سوالات خود را مطرح کنید</p>
                        <a class="pointer">گفت و گوی آنلاین</a>
                    </section>
                </section>
            </section>
        </section>
    </section>
{% endblock %}